* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}
.pads {
	padding: 114px 0 145px 0;
	background: url(../img/Rectangle.jpg) no-repeat center / cover;
}
.conteiner {
	max-width: 1017px;
	margin: 0 auto;
}
.pads-title {
	color: #fff;

	font-family: "Source Sans Pro";
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.pads-text {
	color: #fff;

	font-family: "Source Sans Pro";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.pads-block {
	display: flex;
	align-items: center;
	gap: 15px;
}
.puds-button {
	padding: 20px 50px;
	background: #5c6157;
	text-decoration: none;
	font-size: 16px;
	line-height: 21px;
	color: #fff;
	border-radius: 4px;
	transition: all 0.5s ease 0s;
}
.puds-button:hover {
	background: chartreuse;
}
